.footer {
  background-color: $color-black;
  //   height: 365px;
  padding-bottom: 48px;

  .footer-par {
    max-width: 100%;
    width: 510px;
    height: 100px;
    opacity: 0.5;
    color: $color-white;
    margin-top: 36px;
    margin-bottom: 56px;
  }

  .copyright {
    width: 100%;
    @include flex;
    // background-color: red;

    span {
      color: $color-white;
      opacity: 0.5;
    }

    .socials {
      width: 104px;
      @include flex;

      .icon:hover {
        fill: $color-red;
        cursor: pointer;
      }
    }
  }
}

.before::before {
  content: "";
  width: 101px;
  height: 4px;
  background-color: $color-red;
  display: block;
}

.footer-nav {
  @include flex;
  margin-top: 71px;
}
.navbar {
  @include flex;

  li {
    margin-left: 34px;

    a {
      color: $color-white;
      font-weight: $text-bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 13px;
      transition: all 0.3s;

      &:hover {
        color: $color-red;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-nav {
    align-items: flex-start;
    flex-direction: column;

    nav {
      margin-top: 32px;

      ul li {
        margin-left: 0;
        margin-right: 34px;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    height: 654px;
  }
  .footer-par {
    text-align: center;
    width: 327px;
    margin-bottom: 48px;
  }
  .footer-nav {
    align-items: center;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;

      ul.navbar {
        flex-direction: column;
        align-items: center !important;

        li {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
  .before {
    display: flex;
    justify-content: center;
  }

  .copyright {
    flex-direction: column;
    .socials {
      margin-top: 48px;
    }
  }
}
