@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  overflow-x: hidden;
}

ul li {
  list-style: none;
  a {
    color: black;
    text-decoration: none;
  }
}

input {
  line-height: inherit;
}

input:focus {
  cursor: pointer;
  border: 1px solid $color-red;
}
