.checkout-main {
  padding: 142px 0;
  background-color: $color-gray;
}

.forms-section {
  width: 100%;
  height: 1126px;
  display: flex;
  gap: 30px;

  .checkout-section {
    background-color: white;
    border-radius: 8px;
    position: relative;
    width: 70%;
    padding: 54px 48px;

    h1 {
      font-size: 32px;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    fieldset.fld-1 {
      margin-bottom: 2rem;

      .fld-1-legend {
        @include typography(13px, $text-bold, 25px, 1px);
        text-transform: uppercase;
        color: $color-red;
        margin-bottom: 1rem;
      }

      .fld-1-form {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;

        .fld-1-name {
          .label-wrapper {
            display: flex;
            justify-content: space-between;

            .name-label {
              @include typography(12px, $text-bold, 16px, -0.21px);
              margin-bottom: 0.5rem;
            }
          }

          .name-input {
            @include inputStyles;
          }
        }
      }
    }

    // fieldset 2
    .fld-2-form {
      display: grid;
      grid-template-areas: "a a" "b c" "d .";
      gap: 1em;
      grid-template-columns: 1fr 1fr;

      .fld-2-address {
        grid-area: a / a / a / a;

        .fld-2-label-wrapper {
          @include flex;

          .address-label {
            @include typography(12px, $text-bold, 16px, -0.21px);
            margin-bottom: 0.5rem;
          }
        }

        input {
          @include inputStyles;
        }
      }

      .fld-1-name {
        .fld2-input {
          @include inputStyles;
        }
      }
    }

    // fieldset 3
    .fld-3 {
      .fld-3-one {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;

        p {
          @include typography(12px, $text-bold, 16px, -0.21px);
          margin-bottom: 0.5rem;
        }

        .radio-group {
          .eMoney {
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            border-color: $color-gray;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: 0.5rem;
            font-size: 0.875rem;
            display: block;
            padding-left: 1rem;
            position: relative;
            margin-bottom: 1rem;
            cursor: pointer;

            input[type="radio"] {
              -webkit-appearance: none;
              width: 20px;
              height: 20px;
              border: 1px solid darkgray;
              border-radius: 50%;
              outline: none;
              margin-right: 1rem;
            }
            input[type="radio"]:before {
              content: "";
              display: block;
              width: 60%;
              height: 60%;
              margin: 20% auto;
              border-radius: 50%;
            }
            input[type="radio"]:checked:before {
              background: $color-red;
            }
          }
        }
      }

      .fld-3-two {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .last {
          input {
            @include inputStyles;
          }
        }
      }
    }
  }

  .summary {
    background-color: white;
    border-radius: 8px;
    position: relative;
    width: 30%;
    padding: 32px;
    height: min-content;

    .summary-info {
      @include flex;
    }

    .summary-main-block {
      margin-top: 31px;

      .summary-row {
        @include flex;
        margin-top: 24px;

        .summary-left-side {
          @include flex;
          font-weight: $text-bold;

          img {
            width: 64px;
            height: 64px;
            border-radius: 8px;
          }

          .summary-headphones-info {
            @include flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 16px;
          }
        }

        .summary-right-side {
          @include flex;
          justify-content: space-around;
          width: 96px;
          height: 32px;
          background-color: $color-gray;
          font-size: 13px;
        }
      }

      .summary-total-row {
        margin-top: 32px;

        .sm-t-ch {
          @include flex;
          margin-bottom: 8px;
        }
      }

      form {
        width: 100%;

        .default1 {
          width: 100%;
          margin-top: 32px;
        }
      }
    }
  }
}

@media (max-width: 838px) {
  .checkout-main {
    padding-top: 97px;
    padding-bottom: 97px;
  }
  .forms-section {
    flex-direction: column;
    height: auto;

    .checkout-section,
    .summary {
      width: 100%;
    }

    .checkout-section {
      padding: 30px;
    }
  }
}

@media (max-width: 430px) {
  .checkout-main {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .fld-1-form,
  .fld-2-form {
    grid-template-columns: 1fr !important;
  }

  .fld-2-form {
    display: flex !important;
    flex-direction: column;
  }

  .fld-3 {
    .fld-3-one {
      display: flex !important;
      flex-direction: column;

      .radio-group {
        .eMoney {
          padding-left: 1rem !important;
        }
      }
    }

    .fld-3-two {
      flex-direction: column;
    }
  }
}
